# --- General Configuration ---
# Set the environment (e.g., development, production)
NODE_ENV=production
# The port the server will run on
PORT=
# The base URL of your application (e.g., https://mivra.net)
# This is crucial for the Spotify authentication callback.
BASE_URL=

# --- Spotify API Credentials ---
# You can get these from the Spotify Developer Dashboard: https://developer.spotify.com/dashboard/
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# To get your refresh token:
# 1. Fill in SPOTIFY_CLIENT_ID, SPOTIFY_CLIENT_SECRET, and BASE_URL above.
# 2. Deploy and start the server.
# 3. Visit `https://mivra.net/auth/login` in your browser.
# 4. Authorize the application.
# 5. You will be redirected to a page showing your refresh token.
# 6. Paste that token here.
SPOTIFY_REFRESH_TOKEN=

# --- Steam API Credentials ---
# You can get a Steam API key from: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=
# Your Steam64 ID. You can find it using a tool like https://steamid.io/
STEAM_USER_ID=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
GIF_UPLOAD_PASSWORD=

ADMIN_USERNAME=
ADMIN_PASSWORD=
